<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <!-- here comes the navigation for all the templates (pages) -->
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
